/*
Fonts Obviously -------------------------------------------------------------
*/
@font-face {
  font-family: raj-l;
  src: url(fonts/Rajdhani-Light.ttf);
}

@font-face {
  font-family: raj-b;
  src: url(fonts/Rajdhani-Bold.ttf);
}

@font-face {
  font-family: raj-m;
  src: url(fonts/Rajdhani-Medium.ttf);
}

@font-face {
  font-family: raj-r;
  src: url(fonts/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: warn;
  src: url(fonts/tables.ttf);
}

/*
Dom Elements Begin -------------------------------------------------------------
*/
body {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-flow: column;
  justify-content: flex-start;
  margin: 0px;
  width: 100vw;
  background-color: aliceblue;
  filter: saturate(1)invert(0)contrast(1);
  max-height: 100vh;
  max-width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: filter 100ms, background-color 100ms ease;
  transition-delay: 1s;
}

body:hover {
  transition-delay: 0s;
}

h1 {
  font-size: 64px;
  line-height: 64px;
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
  margin: auto;
}

h4 {
  font-size: 16px;
  line-height: 18px;
  margin: unset;
}

p {
  font-size: 16px;
  line-height: 16px;
}

a {
  text-decoration: none;
  color: black;
  margin: auto;
  width: fit-content;
  height: fit-content;
  width: -moz-fit-content;
  height: -moz-fit-content;
  transition: color 100ms, text-shadow 100ms ease;
}

a:hover {
  text-shadow: -0.5px -0.5px indianred, 0.5px 0.5px cadetblue;
}

h1,
h2 {
  margin: auto;
  color: black;
  margin: auto;
  font-family: raj-b;
}

b {
  font-family: raj-b;
}

.m {
  font-family: raj-m;
}

::-webkit-scrollbar {
  display: none;
}

h3,
h4,
p {
  color: black;
  font-family: raj-l;
}

.header {
  position: absolute;
  font-size: 64px;
  line-height: 64px;
  color: aliceblue !important;
  padding-top: 4px;
  padding-left: 20px;
}

header {
  transition: margin-right 100ms ease;
  overflow: visible;
  width: 448px;
  background: black;
  height: 64px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.hl {
  color: aliceblue;
  text-shadow: -1px 1px black, 1px -1px black;
  transition: color 100ms, text-shadow 100ms ease;
}

.hl:hover {
  color: black;
  text-shadow: 20px 20px transparent, -20px -20px transparent;
}

header .corner {
  position: relative;
  width: 0;
  height: 0;
  border-top: 16px solid aliceblue;
  border-right: 16px solid transparent;
  border-bottom: 48px solid transparent;
  transform: scale(1.1);
}

.b1 {
  /* border: 1px solid black; */
  border-right-width: 0px;
  width: -webkit-fill-available;
  /* max-width: 128px; */
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: transparent;
  transition: background-color 100ms ease;
}

.b2 {
  border-left: 1px solid black;
  /* border-right: 1px solid black; */
  width: -webkit-fill-available;
  height: inherit;
  /* max-width: 128px; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: transparent;
  transition: background-color 100ms ease;
  width: -moz-available;
}

.b2:nth-child(1) {
  border-left: 0px solid black;
  border-right-width: 0px;
  width: -webkit-fill-available;
  /* max-width: 128px; */
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: transparent;
  transition: background-color 100ms ease;
}

.b1:hover {
  background-color: black;
}

.b2:hover {
  background-color: black;
}

.b1:hover h2 {
  color: aliceblue;
  transform: uppercase;
}

.b2h2 {
  transition: transform 500ms ease;
}

.b2:hover .b2h2 {
  color: aliceblue;
  transform: rotate(90deg);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 32px;
  border: 8px solid aliceblue;
}

.b2:hover .b2h2 {
  color: aliceblue;
  transform: rotate(90deg);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 32px;
  border: 8px solid aliceblue;
}

#brev {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: -moz-available;
  overflow: hidden;
  /*! max-height: 128px; */
  margin-right: 64px;
  border-top-left-radius: 0px;
  height: inherit;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#apps {
  display: none;
}

.hr2 {
  text-align: left;
  width: 100%;
  position: static;
  height: 1px;
  border-width: 0px;
  background-color: black;
}

footer {
  width: 100%;
  border: 1px solid black;
  height: 64px;
  display: flex;
  position: relative;
  flex-flow: row;
  justify-content: flex-start;
  /*! position: unset; */
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
  overflow: hidden;
}

span {
  justify-content: center;
  width: 100%;
  height: auto;
  display: flex;
  /* background: aliceblue; */
  flex-flow: column;
}

.privpol-text {
  font-size: 16px;
  background: black;
  color: aliceblue;
  width: a;
  height: 16px;
  margin-left: 8px;
  padding-top: 7px;
  padding-bottom: 8px;
  margin-right: 8px;
  text-align: center;
}

@keyframes up2 {
  0% {
    transform: translatey(0px);
  }

  5% {
    transform: translatey(5px);
  }

  10% {
    transform: translatey(0px);
  }

  15% {
    transform: translatey(5px);
  }

  20% {
    transform: translatey(0px);
  }

  100% {
    transform: translatey(0px);
  }
}

/*
Classes Begin -------------------------------------------------------------
*/
#loc-a {
  bottom: 0vh;
  transition: bottom 1s ease;
}

#loc-b {
  position: absolute;
  bottom: 100vh;
  transition: bottom 1s ease;
}

.full-hr {
  width: auto;
  text-align: center;
  position: relative;
  width: 100%;
  margin: 0px;
  display: block;
  border: unset;
  height: 1px;
  margin-bottom: 2px;
  border-top: 1px solid black;
}

.p-link h4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.CC {
  text-transform: uppercase;
  line-height: 32px;
  font-size: 42px;
  margin: auto;
  width: min-content;
  width: -moz-min-content;
  color: black;
  text-align: left;
}

.conscioustext {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 110px;
  width: 240px;
  opacity: 1;
  transition: opacity 100ms ease;
  transition-delay: 1s;
}

.consciousness:hover .conscioustext {
  opacity: 0;
  transition-delay: 0s;
}

#metricview {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  height: 0vh;
  background-color: black;
  transition: height 100ms ease;
}

#dotty {}

.l-title {
  text-align: left;
  color: black;
  text-transform: capitalize;
  font-size: 48px;
  line-height: 48px;
  margin: 8px 0px;
  word-wrap: normal;
}

.p-link {
  text-transform: capitalize;
  letter-spacing: 2px;
  margin: unset;
  transition: transform 100ms ease;
}

.p-link:hover {
  transform: translatey(1px);
}

.even-space {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

#linkreel {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justfy-content: center;
}

#dispres {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 48px;
  width: 48px;
  z-index: 20;
  display: none;
}

#dispres2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 48px;
  width: 48px;
  z-index: 20;
  display: block;
}

#dispres3 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 48px;
  width: 48px;
  z-index: 20;
  display: none;
}

.alice {
  color: black;
}

.linkbox {
  min-height: unset;
  width: 50%;
  height: auto;
  padding: 32px;
  display: inline-table;
  margin: auto auto;
  position: relative;
}

.button {
  position: relative;
  border: 1px solid black;
  padding: 2px;
  width: 100%;
  height: auto;
  margin: 4px auto;
}

.buttonbox {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: auto;
  max-width: 80vw;
}

.button:hover {
  background-color: black;
}

.button:hover h2 {
  color: aliceblue;
}

.outlinks {
  margin: unset;
  padding: unset;
  overflow: auto;
  display: flex;
  height: inherit;
  flex-flow: row-reverse;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  justify-content: space-between;
}

.scroll-default {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.warn {
  font-family: warn;
}

.warn:hover {
  color: indianred;
}

.rest {
  position: absolute;
  right: 1px;
  text-align: right;
  background-image: url(x.png);
  background-size: 3px;
  left: 210px;
  opacity: 0.5;
  overflow: hidden;
  width: auto;
  height: inherit;
  /* background-color: aliceblue; */
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
}

.warn-info {
  height: 64px;
  width: 129px;
  padding-right: 8px;
  padding-left: 8px;
  margin-left: 64px;
  font-family: raj-m;
  display: flex;
  position: relative;
  border-right: 1px solid black;
  flex-flow: column;
  justify-content: center;
}

.no-margin {
  margin: 0px;
}

.warning {
  position: absolute;
  left: 0px;
}

.background {
  color: aliceblue;
}

.h-margin {
  margin-right: 0px !important;
}

.apps {
  width: auto;
  height: inherit;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 0px;
  margin-right: 64px;
  padding: 0px;
  list-style: none;
  border: 1px solid black;
  overflow-y: scroll;
  border-bottom-width: 0px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.icon-o {
  height: 64px;
  /* box-shadow: inset 0px 0px 0 2px black; */
  min-width: 64px;
  width: auto;
  max-width: 128px;
  /* background-image: url(x.png); */
  background-position: center;
  background-blend-mode: unset;
  background-size: 6px;
  justify-content: center;
  flex-flow: column;
  display: flex;
  background-color: transparent;
  transition: transform 100ms ease;
}

.round {
  border-radius: 16px;
}

.contact {
  width: auto;
  height: auto;
  margin: auto auto;
}

.icon {
  filter: saturate(0)contrast(1);
  width: 48px;
  height: auto;
  margin: 0px;
  mix-blend-mode: unset;
  /* transform: rotate(45deg); */
  transition: filter 100ms, transform 100ms ease;
}

.icon:hover {
  transform: translateY(1px);
  filter: saturate(0.8);
}

.stretch1 {
  letter-spacing: normal;
  transition: letter-spacing 100ms ease;
}

.stretch1:hover {
  letter-spacing: 1px;
}

.stretch2 {
  letter-spacing: normal;
  transition: letter-spacing 500ms ease;
  transition-delay: 1s;
}

.stretch2:hover {
  transition-delay: 0s;
  letter-spacing: 2px;
}

.block1 {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color: transparent;
}

.middleblock {
  z-index: 5;
  transform: rotate(-45deg);
  margin: auto auto;
  background: transparent;
  border: 0px solid aliceblue;
  width: 512px;
  height: 512px;
  min-height: 256px;
  min-width: 256px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  transition: transform 100ms ease;
}

.content {
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
}

.display iframe {
  width: -webkit-fill-available;
  margin: -webkit-fill-available;
  /* background-color: aliceblue; */
  position: relative;
  background: linear-gradient(to top, black, transparent);
  z-index: 12;
  opacity: 0.95;
  height: 100vh;
}

.display {
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  position: relative;
  /* background: linear-gradient(to top, black, aliceblue); */
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.downbutton {
  margin: 0px;
  right: 0px;
  position: relative;
  width: 62px;
  height: 62px;
  border: 1px solid black;
  border-left-radius: 0px;
  background-color: transparent;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.rot {
  transform: rotate(45deg);
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 62px;
  height: 62px;
  transition: transform 100ms ease;
}

.downbutton svg {
  fill: black;
  margin: auto auto;
  height: 48px;
  width: auto;
}

.downbutton:hover svg {
  animation: up2 1s;
}

.descbox {
  height: a;
  width: 248px;
  position: relative;
  padding-right: 8px;
  text-align: right;
  display: flex;
  flex-flow: column;
  /* text-align: center; */
  justify-content: center;
  border-bottom-width: 0px;
  border-top-width: 0px;
}

.os {
  color: rgba(0, 1, 0, 1);
  text-shadow: 2px -2px rgba(255, 255, 255, 1);
  text-align: center;
  letter-spacing: 1px;
  font-size: 64px;
  line-height: 64px;
  word-break: keep-all;
  transition: color 200ms, text-shadow 200ms ease;
}

.os:hover {
  color: rgba(0, 0, 0, 1);
  text-shadow: -2px -2px rgba(255, 0, 94, 0.76), 2px 2px rgba(0, 255, 216, 0.76);
  text-align: center;
  word-break: keep-all;
}

.rightout {
  height: 50%;
  width: 50%;
  position: relative;
  background: transparent;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-bottom-width: 0px;
  border-top-width: 0px;
  transform: rotate(90deg);
}

#window {
  transition: filter 1s ease;
}

#info {
  text-transform: uppercase;
  width: max-content;
  width: -moz-max-content;
  position: absolute;
  left: 48px;
  top: 0px;
  text-shadow: 1px 1px aliceblue;
  font-family: raj-b;
  opacity: 0;
  transition: opacity 1s ease;
}

#info2 {
  width: max-content;
  width: -moz-max-content;
  text-transform: uppercase;
  position: absolute;
  left: 48px;
  bottom: 0px;
  text-shadow: 1px 1px aliceblue;
  font-family: raj-b;
  opacity: 0;
  transition: opacity 1s ease;
}

#info3 {
  width: max-content;
  width: -moz-max-content;
  text-transform: uppercase;
  position: absolute;
  right: 48px;
  bottom: 0px;
  text-shadow: 1px 1px aliceblue;
  font-family: raj-b;
  opacity: 0;
  transition: opacity 1s ease;
}

.bottom-res {
  height: 48px;
  width: auto;
  fill: black;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 20;
}

.bottom-res-2 {
  height: 48px;
  width: auto;
  fill: black;
  transform: rotate(0deg);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 20;
}

.bottom-res-3 {
  height: 48px;
  width: auto;
  fill: black;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 20;
}

.bottom-res:hover path {
  animation: up2 1s;
}

.bottom-res-2:hover path {
  animation: up2 1s;
}

.bottom-res-3:hover path {
  animation: up2 1s;
}

.link {
  width: auto;
  height: 112px;
  /*! margin-top: 5%; */
  /* border-radius: 16px; */
  background-size: 10px;
  overflow: hidden;
  background-position: center;
  box-shadow: inset 0px 0px 0px 1px black;
  margin: 8px;
  /* border-radius: 16px; */
}

#conscious {
  -webkit-filter: contrast(2);
  filter: invert(0)saturate(0)contrast(2)brightness(0.5);
  mix-blend-mode: overlay;
  height: 168px;
  margin-top: -20px;
  width: 100%;
  opacity: 0.5;
  /* width: auto; */
  transition: filter 100ms, opacity 100ms ease;
}

#conscious:hover {
  filter: invert(1)saturate(1)contrast(1)brightness(1)hue-rotate(30deg);
  opacity: 0.9;
}

.consciousness {
  background-image: url(dot.png);
  background-blend-mode: multiply;
  background-size: 8px;
  /*! border: 1px solid black; */
  background-position: center;
  overflow: hidden;
  border-left-width: 0px;
  border-right-width: 0px;
  /* border-radius: 0px; */
  width: auto;
  height: -webkit-fill-available;
  height: -moz-fill-available;
}

.consciousness iframe {
  height: auto;
}

.sub2 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  width: auto;
  height: 64px;
}

.sub1 {
  width: 150%;
  height: 63px;
  border-bottom: 1px solid white;
  overflow: hidden;
  word-break: keep-all;
}

.socialbox {
  height: inherit;
  justify-content: center;
  width: 50%;
  border: 1px solid black;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.sideswipe {
  height: 448px;
  width: 62px;
  border: 1px solid black;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
}

.ud {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  width: auto;
  margin-right: 8px;
  margin-left: 8px;
  /* padding-bottom: 0px; */
  z-index: 10;
  font-family: raj-r;
  color: black;
  /* text-shadow: 0 0 1px; */
  margin-top: unset;
  margin-bottom: unset;
}

.res {
  color: aliceblue;
  border-width: 2px;
  line-height: 8px;
  border-style: solid;
  border-right-width: 0px;
  border-left-width: 0px;
}

.res:hover {}

.bottomstretch {
  position: relative;
  width: 512px;
  left: 0px;
  margin-right: 0;
  height: 128px;
  /* border-left: 1px solid black; */
  /* border-top: 1px solid black; */
  /* border-right: 1px solid black; */
  overflow: hidden;
}

/*
WHEN THE WIDTH IS LESS THAN THE height      --------------------------------------------------------------------------------------------------------
*/
@media screen and (max-width:100vh) {
  body {
    background-color: aliceblue;
    filter: saturate(1);
  }

  .linkbox {
    width: auto;
    min-height: 100vh;
  }

  .middleblock {
    transform: rotate(0deg);
    margin: auto auto;
    background: transparent;
    display: flex;
    flex-flow: wrap;
    width: 512px;
    height: 512px;
    min-width: 256px;
    min-height: 256px;
  }

  .icon-o {
    transform: rotate(0deg);
  }

  .rot {
    transform: rotate(0deg);
  }
}

@media screen and (max-height:750px) {
  .middleblock {
    transform: rotate(0deg);
    margin: auto auto;
    background: transparent;
    display: flex;
    flex-flow: wrap;
    width: 512px;
    height: 512px;
    min-width: 256px;
    min-height: 256px;
  }

  .icon-o {
    transform: rotate(0deg);
  }

  .rot {
    transform: rotate(0deg);
  }
}

/*
  WHEN THE WIDTH IS within phone params but tablet as well THAN THE height      --------------------------------------------------------------------------------------------------------
  */
@media screen and (max-width:600px) {
  body {
    background-color: aliceblue;
    filter: saturate(1);
  }

  .b1 {
    /* border: 1px solid black; */
    border-right-width: 0px;
    width: -webkit-fill-available;
    /* max-width: 128px; */
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: transparent;
    transition: background-color 100ms ease;
  }

  .b2 {
    border-left: 1px solid black;
    /* border-right: 1px solid black; */
    width: -webkit-fill-available;
    height: inherit;
    /* max-width: 128px; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: transparent;
    transition: background-color 100ms ease;
    width: -moz-available;
  }

  .b2:nth-child(1) {
    border-left: 0px solid black;
    border-right-width: 0px;
    width: -webkit-fill-available;
    /*! max-width: 128px; */
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: transparent;
    transition: background-color 100ms ease;
    width: -moz-available;
  }

  .b1:hover {
    background-color: black;
  }

  .b2:hover {
    background-color: black;
  }

  .b1:hover h2 {
    color: aliceblue;
    transform: uppercase;
  }

  .b2h2 {
    transition: transform 500ms ease;
  }

  .b2:hover .b2h2 {
    color: aliceblue;
    transform: rotate(0deg);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 32px;
    border: 8px solid aliceblue;
  }

  .b2:hover .b2h2 {
    color: aliceblue;
    transform: rotate(0deg);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 32px;
    border: 8px solid aliceblue;
  }

  #brev {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    width: auto;
    overflow: hidden;
    /*! max-height: 128px; */
    margin-right: 0px;
    border-top-left-radius: 0px;
    height: inherit;
    border-left: 0px solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
  }

  footer {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .privpol-text {
    font-size: 16px;
    background: transparent;
    color: black;
    width: 100%;
    height: 16px;
    margin-left: 8px;
    padding-top: 7px;
    padding-bottom: 8px;
    margin-right: 8px;
    text-align: center;
  }

  span {
    width: auto;
  }

  .ud {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0px solid black;
    text-align: center;
    width: auto;
    margin-right: 8px;
    margin-left: 8px;
    /* padding-bottom: 0px; */
    z-index: 10;
    font-family: raj-r;
    color: black;
    /* text-shadow: 0 0 1px; */
    margin-top: unset;
    margin-bottom: unset;
  }

  .res {
    color: black;
    border-width: 2px;
    line-height: 8px;
    border-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
  }

  .rightout {
    height: auto;
    height: 128px;
    border: 1px solid black;
    width: 100%;
    position: relative;
    background: transparent;
    display: flex;
    flex-flow: wrap-reverse;
    justify-content: center;
    /* border-bottom-width: 0px; */
    /* border-top-width: 0px; */
    transform: rotate(0deg);
  }

  .consciousness {
    border-left-width: 1px;
    border-right-width: 1px;
  }

  .link {
    width: 100%;
    height: 32px;
    display: none;
  }

  .os {
    font-size: 48px;
    /* background-image: url(dot.png); */
  }

  .bottomstretch {
    margin-right: unset;
    width: 100%;
    overflow: auto;
    border: 1px solid black;
  }

  .sub1 {
    justify-content: center;
    width: 100%;
    height: 64px;
    background-image: url(dot.png);
    background-size: 4px;
    background-position: top;
  }

  .sub2 {
    width: 100%;
    height: 50%;
    /* background-image: url(x.png); */
  }

  .link {
    margin-top: unset;
    /* margin-bottom: 5%; */
  }

  .descbox {
    height: -moz-max-content;
    width: 100%;
    border: 1px solid black;
    height: fit-content;
    padding: 8px;
    text-align: center;
  }

  .rot {
    width: 46px;
    height: 46px;
  }

  .downbutton {
    margin: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    width: 46px;
    z-index: 6;
    height: 46px;
    background-color: aliceblue;
    border: 1px solid black;
    border-left-radius: 0px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .downbutton svg {
    fill: black;
    margin: auto auto;
    height: 48px;
    width: auto;
  }

  .header {
    font-size: 48px;
    line-height: 48px;
    margin: auto auto;
    color: aliceblue;
  }

  header {
    position: sticky;
    /*! right: 48px; */
    margin-right: 48px;
    right: 0px;
    z-index: 1;
    width: 100%;
    top: 8px;
    left: 0px;
    background: black;
    height: 48px;
  }

  .middleblock {
    /* padding-top: 56px; */
    margin: auto auto;
    position: absolute;
    background: transparent;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    width: auto;
    height: auto;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    min-width: 256px;
    min-height: 256px;
  }

  .ud {
    /* border-left: 2px solid slategray; */
    /* border-right: 2px solid slategrey; */
    text-align: center;
    width: 204px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: raj-r;
    /* color: slategray; */
    /* text-shadow: 0 0 1px; */
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .apps {
    border: unset;
  }
}

@media screen and (max-height: 600px) {
  body {
    background-color: aliceblue;
    filter: saturate(1);
  }

  .bottomstretch {
    margin-right: unset;
    height: 128px;
    overflow: auto;
    border: 1px solid black;
  }

  .rightout {
    height: 64px;
    width: 100%;
    position: relative;
    background: transparent;
    display: flex;
    flex-flow: wrap-reverse;
    border: 1px solid black;
    justify-content: center;
    /* border-bottom-width: 0px; */
    /* border-top-width: 0px; */
    transform: rotate(0deg);
  }

  .bottomstretch {
    max-height: 128px;
    margin-right: unset;
    width: 100%;
    border: 1px solid black;
  }

  .link {
    width: 100%;
    height: 128px;
    display: none;
  }

  .os {
    font-size: 56px;
    padding-top: 4px;
    line-height: 64px;
  }

  .apps {
    border: unset;
  }

  .sub1 {
    justify-content: center;
    width: 100%;
    /* border: 1px solid black; */
    height: 64px;
    padding-top: 8px;
    height: -moz-max-content;
  }

  .sub2 {
    width: 100%;
    height: max-content;
    display: none;
    height: -moz-max-content;
  }

  .descbox {
    height: auto;
    height: -moz-available;
    padding: unset;
    border: 1px solid black;
    padding-left: 8px;
    width: 100%;
    margin-bottom: auto;
  }

  .text p {
    display: none;
  }

  .rot {
    width: 46px;
    height: 46px;
  }

  .downbutton {
    margin: 0px;
    right: 0px;
    top: 0px;
    position: absolute;
    width: 46px;
    height: 46px;
    border: 1px solid black;
    border-left-radius: 0px;
    background-color: transparent;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .downbutton svg {
    fill: black;
    margin: auto auto;
    height: 48px;
    width: auto;
  }

  .header {
    font-size: 48px;
    line-height: 48px;
    margin: auto auto;
    color: aliceblue;
  }

  header {
    position: absolute;
    width: auto;
    margin-right: 48px;
    top: 0px;
    left: 0px;
    background: black;
    height: 48px;
    right: 0px;
  }

  .middleblock {
    padding-top: 56px;
    margin: auto auto;
    position: absolute;
    background: transparent;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    width: auto;
    height: auto;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    min-width: 256px;
    min-height: 256px;
  }

  .ud {
    border-left: 2px solid dimgray;
    border-right: 2px solid dimgray;
    text-align: center;
    width: 204px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 8px;
    margin-right: 8px;
    font-family: raj-r;
    color: dimgray;
    text-shadow: 0 0 1px
  }
}

/*
  WHEN THE WIDTH IS Small af      --------------------------------------------------------------------------------------------------------
  */
@media screen and (max-width:480px) {
  .sub2 {
    width: 100%;
    height: 64px;
  }

  .rest {
    left: 200px;
    margin-left: 8px;
  }

  .outlinks {
    left: 200px;
    z-index: 5;
  }

  .warn-info hr, p {
    display: none;
  }

  .sub2 span:nth-child(even) h4 {
    font-size: 180px;
  }

  h1 {
    font-size: 48px;
    line-height: 64px;
  }
}

@media screen and (max-width:450px) {
  .sub2 span:nth-child(even) {
    display: none;
  }

  .b1 {
    /* border: 1px solid black; */
    border-right-width: 0px;
    width: width: 50%;
    ;
    /* max-width: 128px; */
    height: inherit;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: transparent;
    transition: background-color 100ms ease;
  }

  .b2 {
    border-left: 0px solid black;
    /* border-right: 1px solid black; */
    width: 50%;
    /* max-width: 128px; */
    display: flex;
    height: 50%;
    flex-flow: column;
    justify-content: center;
    background-color: transparent;
    transition: background-color 100ms ease;
  }

  .bottomstretch {
    height: 256px;
    width: 100%;
    overflow: auto;
    border: 1px solid black;
  }

  .b2:nth-child(1) {
    border-left: 0px solid black;
    border-right-width: 0px;
    width: 50%;
    /* max-width: 128px; */
    height: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: transparent;
    transition: background-color 100ms ease;
  }

  .b1:hover {
    background-color: black;
  }

  .b2:hover {
    background-color: black;
  }

  .b1:hover h2 {
    color: aliceblue;
    transform: uppercase;
  }

  .b2h2 {
    transition: transform 500ms ease;
  }

  .b2:hover .b2h2 {
    color: aliceblue;
    transform: rotate(0deg);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 32px;
    border: 8px solid aliceblue;
  }

  .b2:hover .b2h2 {
    color: aliceblue;
    transform: rotate(0deg);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 32px;
    border: 8px solid aliceblue;
  }

  #brev {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: auto;
    overflow: hidden;
    /*! max-height: 128px; */
    margin-right: 0px;
    border-top-left-radius: 0px;
    height: auto;
    border-left: 0px solid black;
    border-top: 0px solid black;
    border-right: 0px solid black;
    height: inherit;
  }

  .rest {
    left: 0px;
    margin-left: 0px;
  }

  .warning, .warn-info {
    display: none;
  }

  .privpol-text {
    font-size: 20px;
  }
}
