@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap&subset=devanagari,latin-ext');
body {
  font-family: 'Rajdhani', sans-serif;
  background: black;
  color: #eeeeee;
  margin: unset;
  letter-spacing: 2px;
  scroll-behavior: smooth;
}
input{      font-family: 'Rajdhani', sans-serif;
width: 212px;
    border-radius: 4px;
    background-color: black;
    border: 1px solid white;color:white;
margin: unset;
padding: unset;
}.contact{height:100vh;display:flex;flex-flow:column;justify-content:center;}
textarea{width:212px;border-radius: 4px;background-color: black;border: 1px solid white;}
.button {
  border: 2px solid white;
  margin: 1rem;
  border-radius: 4px;
  padding: 4px 8px;
  background-color: black;
  transition: background-color 200ms ease;
}

.button:hover{cursor:pointer;}

.button:active {
  background-color: white;
}

.button:active h2 {
  color: black;
}

.button h2 {
  color: white;
  margin: unset;
  transition: color 200ms ease;
}

.icon {
  width: 64px;
  margin: 16px;
  filter: saturate(0)invert(1);
}

.icon:hover {
  filter: saturate(1)invert(0);
}

ul {
  margin: unset;
  padding: unset;
}

li {
  list-style: none;
}

.apps {
  max-width: 712px;
  margin: 2rem auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background: url(dot.png);
  background-color: black;
  background-size: 8px;
  animation: move 50s linear infinite;
  background-attachment: fixed;
  box-shadow: inset 0px 0px 20px black;
}

.hero-text {
  margin-top: unset;
  /*! border-bottom: 2px solid white; */
  /*! padding-bottom: 0.1rem; */
  margin-bottom: 0px;
  padding-right: 0.8rem;
  /*! width: 190px; */
  /*! margin-left: auto; */
}

.hero-hr {
  margin-left: 80%;
  margin-right: unset;
  animation: slide-hr 5s ease infinite;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.centered {
  display: flex;
  flex-flow: row;
  justify-content: center;
  max-width: 512px;
  margin: auto;
}

.virt {
  margin-bottom: 64px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 64px;
}

.linkbox2 {
  padding: 1rem;
  margin: auto;
  max-width: 712px;
}

.ddrop {
  width: 30%;
  height: 5px;
  color: #eeeeee;
}

.p-link {
  font-weight: 300;
}

.p-link:hover {
  font-weight: 600;
}

.l-title {
  font-size: 2rem;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

@keyframes move {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes slide-hr {
  0% {
    width: 20%;
    margin-left: 80%
  }

  20% {
    width: 10%;
    margin-left: 90%
  }
}

40% {
  width: 40%;
  margin-left: 60%
}
}

60% {
  width: 50%;
  margin-left: 50%
}
}

75% {
  width: 20%;
  margin-left: 80%
}
}

90% {
  width: 70%;
  margin-left: 30%
}
}

100% {
  width: 20%;
  margin-left: 80%
}
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes down {
  0% {
    transform: translatey(0px);
  }

  75% {
    transform: translatey(0px);
  }

  80% {
    transform: translatey(2px);
  }

  85% {
    transform: translatey(0px);
  }

  90% {
    transform: translatey(2px);
  }

  95% {
    transform: translatey(0px);
  }

  100% {
    transform: translatey(0px);
  }
}

.drop {
  position: absolute;
  right: 32px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: url(line.png);
  background-size: 4px;
  transition: filter 200ms, background-size 200ms, opacity 200ms ease;
  background-attachment: fixed;
  filter: saturate(0);
  animation: move 50s linear infinite;
  transition-delay: 1s;
  overflow: hidden;
}

.drop-arrow {
  transform: translatey(0px);
  opacity: 1;
  transition: transform 200ms, opacity 200ms ease;
  animation: down 2s linear infinite;
  transition-delay: 1s;
}

.drop-arrow:hover {
  transform: translatey(2px);
  opacity: 1;
  transition: transform 200ms ease;
  transition-delay: 0s;
}

.drop:hover {
  filter: saturate(1);
  opacity: 1;
  background-size: 8px;
  transition-delay: 0s;
}

.corner {
  position: absolute;
  background: black;
  transform: rotate(45deg);
  bottom: 0px;
  left: -24px;
  bottom: -24px;
  width: 32px;
  height: 32px;
}

.corner2 {
  position: absolute;
  background: black;
  transform: rotate(45deg);
  bottom: 0px;
  right: -24px;
  bottom: -24px;
  width: 32px;
  height: 32px;
}

::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #eeeeee;
}

.right {
  border-top: 2px solid white;
  padding-top: 0.6rem;
  border-top-left-radius: 20px;
  border-left: 2px solid #eeeeee;
  padding-left: 1rem;
  display: flex;
  flex-flow: column;
  min-height: 128px;
  z-index: 1;
  justify-content: center;
}

.left {
  min-width: 256px;
  min-height: 128px;
  display: flex;
  text-align: right;
  /*! padding-right: 1rem; */
  flex-flow: column;
  justify-content: center;
}

hr {
  width: 20%;
  margin-right: 80%;
  height: 2px;
  border: none;
  background: #eeeeee;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  margin: unset;
}

form {
  display: flex;
  margin: unset;
  flex-flow: column;
  justify-content: center;
  text-align: left;
  /*! letter-spacing: 0px; */
}

#donate-text {
  border: none;
  background: none;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #eeeeee;
  padding: unset;
  margin-right: 16px;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
  transition: text-shadow 200ms ease;
  width: auto;
}

#donate-text:hover {
  text-shadow: 1px 1px #ff008d, -1px -1px #00ffe7;
}

h1 {
  font-size: 32px;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 1rem;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 200;
}

a {
  color: #eeeeee;
  text-shadow: 0px 0px #ff008d, 0px 0px #00ffe7;
  text-decoration: none;
  transition: text-shadow 200ms ease;
}

a:hover {
  text-shadow: 1px 1px #ff008d, -1px -1px #00ffe7;
}

.mission {
  background-color: #0000;
  border-radius: 4px;
  margin-bottom: 4px;
  text-align: center;
  padding: 4px 8px;
  width: max-content;
  border: 2px solid white;
  margin: auto;
  transition: background-color 200ms ease;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.mission:hover {
  background-color: white;
}

.mission h2 {
  color: white;
  margin: unset;
  transition: color 200ms ease;
}

.mission:hover h2 {
  color: black;
}

.ico {
  width: 32px;
  margin: 8px;
  filter: invert(0)saturate(0);
  border-radius: 256px;
  border: 4px solid #eeeeee;
  transition-delay: 0s;
  transition: filter 200ms, mix-blend-mode 200ms, border-color 200ms, border-radius 200ms ease;
  transition-delay: 1s
}

.ico:hover {
  border-color: transparent;
  mix-blend-mode: darken;
  filter: invert(0);
  (1);
  border-radius: 0px;
  transition: filter 200ms, mix-blend-mode 200ms, border-color 200ms, border-radius 200ms ease;
  transition-delay: 0s
}

.corner-ico {
  filter: invert(1);
  position: fixed;
  top: 8px;
  right: 8px;
  width: 60px;
  transition-delay: 1s;
  animation: rotate 10s linear infinite;
}

.corner-ico:hover {
  opacity: 1;
  transition-delay: 0s;
}

@media screen and (max-width:100vh) {
  .mission {
    max-width: 256px;
    margin: 1rem auto;
  }

  .hero-text {
    margin-top: unset;
    /*! border-bottom: 2px solid white; */
    /*! padding-bottom: 0.1rem; */
    margin-bottom: 0px;
    padding-right: 0rem;
    /*! width: 190px; */
    /*! margin-left: auto; */
    /*! padding-bottom: 1rem; */
  }

  .hero-hr {
    animation: none;
    width: 100%;
    margin: 1rem auto;
    margin-bottom: 1.5rem;
    display: none;
  }

  .row {
    display: flex;
    flex-flow: column;
  }

  .corner2 {
    display: none;
  }

  .corner-ico {
    position: absolute;
  }

  h1 {
    line-height: 1;
  }

  .left {
    margin: 0px auto;
    text-align: center;
    max-height: unset;
    max-width: unset;
    padding-right: 0px;
    /*! padding-bottom: 1rem; */
  }

  .right {
    /*! max-width: 80%; */
    margin: 0px auto;
    border-left: unset;
    /*! border: 2px solid #eee; */
    padding-left: 0px;
    display: flex;
    flex-flow: column;
    min-height: unset;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    border-color:transparent;
    background: url(dot.png);
    animation: move 50s linear infinite;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 20px black;
    color: white;
  }

  .drop {
    position: absolute;
    right: 0px;
    opacity: 0.8;
    display: flex;
    flex-flow: row;
    justify-content: center;
    background-attachment: fixed;
  }

  .corner {
    position: absolute;
    background: black;
    transform: rotate(45deg);
    bottom: 0px;
    left: -8px;
    bottom: -8px;
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width:900px) {
  .corner-ico {
    position: absolute;
  }

  .drop {
    right: 0px;
  }
}

@media screen and (max-width:850px) {
  .corner-ico {
    position: absolute;
  }

  .drop {
    flex-flow: row;
  }

  .corner2 {
    display: none;
  }
}

@media screen and (max-width:512px) {
  .drop {
    position: absolute;
    right: 0px;
    max-width: 512px;
    overflow: hidden;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    background-attachment: fixed;
  }

  .corner-ico {
    width: 32px;
  }

  .ico {
    mix-blend-mode: darken;
    width: 24px;
    margin: 8px;
  }

  .ico:hover {
    border-width: 4px;
    width: 24px;
    margin: 8px;
    border-color: transparent;
  }
}

@media screen and (max-width:300px) {
  .corner-ico {
    display: none;
  }
}

@media screen and (max-height:540px) {
  .right {
    display: none;
  }
  .mission{margin:auto;
    margin-top:1rem;
    
  }
  .arrow{opacity:1;}
  .hero-hr{display:none;}
  .left {
    padding-right: 0rem;
    text-align: center;
  }
}
